services:
  - type: web
    name: uniform-web
    env: python
    region: singapore
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn project.wsgi:application
    envVars:
      - key: SECRET_KEY
        generateValue: true
