<div class="modal fade" id="modalDeletePB_{{ pb.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Xóa phiên bản</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST" action="/admin/phienban/delete/">
                <div class="modal-body">
                    <input type="hidden" name="id" value="{{ pb.id }}">
                    <p>Bạn có chắc muốn xóa phiên bản 
                        <b>{{ pb.mau }}</b> của 
                        <b>
                            {% for sp in ds_sanpham %}
                                {% if sp.id == pb.sanpham_id %}
                                    {{ sp.ten }}
                                {% endif %}
                            {% endfor %}
                        </b>
                        ?
                    </p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn btn-danger">Xóa</button>
                </div>
            </form>

        </div>
    </div>
</div>
