<div class="modal fade" id="modalCreateSP">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Thêm sản phẩm</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <label>Tên sản phẩm</label>
                <input id="c_ten" class="form-control">

                <label class="mt-2">Mô tả</label>
                <textarea id="c_mota" class="form-control"></textarea>

                <label class="mt-2">Ảnh</label>
                <input id="c_anh" type="file" class="form-control">

            </div>

            <div class="modal-footer">
                <button class="btn btn-success" onclick="createSP()">Thêm</button>
            </div>

        </div>
    </div>
</div>
